In [1]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "credentials/endless-beach-228506-b15de187c224.json"

In [2]:
# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "world_bank_intl_education" dataset
dataset_ref = client.dataset("world_bank_intl_education", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "international_education" table
table_ref = dataset_ref.table("international_education")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "international_education" table
client.list_rows(table, max_results=5).to_dataframe()

,country_name,country_code,indicator_name,indicator_code,value,year
0,Nigeria,NGA,Population of the official age for the last gr...,SP.PRM.GRAD.FE,2.273274e+06,2016
1,Pakistan,PAK,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,5.245642e+03,2016
2,Palau,PLW,"Gross enrolment ratio, primary, gender parity ...",SE.ENR.PRIM.FM.ZS,9.868000e-01,2016
3,Palau,PLW,"Teachers in secondary education, both sexes (n...",SE.SEC.TCHR,7.200000e+01,2016
4,Mauritania,MRT,"Enrolment in tertiary education, all programme...",SE.TER.ENRL.FE,6.678000e+03,2016