In [3]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "credentials/endless-beach-228506-b15de187c224.json"

In [4]:
# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours
0,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,co,910.00,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
1,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,no2,131.87,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
2,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,o3,15.57,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
3,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,pm25,45.62,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
4,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,so2,4.49,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25

In [24]:
# Query to select countries with units of "ppm"
first_query =   """
                SELECT country
                From `bigquery-public-data.openaq.global_air_quality`
                WHERE unit = 'ppm'
                """ # Your code goes here

# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig()
first_query_job = client.query(first_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
first_results = first_query_job.to_dataframe()

# View top few rows of results
print(first_results.head())

# Check your answer

  country
0      US
1      US
2      US
3      US
4      US

In [25]:
first_query = """
              SELECT DISTINCT country
              FROM `bigquery-public-data.openaq.global_air_quality`
              WHERE unit = "ppm"
              """

# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig()
first_query_job = client.query(first_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
first_results = first_query_job.to_dataframe()

# View top few rows of results
print(first_results.head())

  country
0      US
1      CL
2      AU
3      BM
4      MX

In [26]:
zero_pullutant_query = """
                        SELECT *
                        FROM `bigquery-public-data.openaq.global_air_quality`
                        WHERE value = 0
                        """

safe_config = bigquery.QueryJobConfig()
query_job = client.query(zero_pullutant_query, job_config=safe_config)

zero_pollution_results = query_job.to_dataframe()
print(zero_pollution_results.head())

                                        location     city country pollutant  \
0                     Victoria Memorial - WBSPCB  Kolkata      IN      pm25
1  Rabindra Bharati University, Kolkata - WBSPCB  Kolkata      IN       so2
2                   Zamość ul. Hrubieszowska 69A   Zamość      PL       no2
3                               Końskie, MOBILNA  Końskie      PL      pm10
4                               Końskie, MOBILNA  Końskie      PL      pm25

   value                 timestamp   unit source_name   latitude  longitude  \
0    0.0 2017-10-16 20:45:00+00:00  µg/m³        CPCB  22.572645  88.363890
1    0.0 2017-10-28 14:30:00+00:00  µg/m³        CPCB  22.627874  88.380400
2    0.0 2020-05-19 05:00:00+00:00  µg/m³        GIOS  50.716630  23.290247
3    0.0 2018-12-21 13:00:00+00:00  µg/m³        GIOS  51.189526  20.408892
4    0.0 2018-12-21 13:00:00+00:00  µg/m³        GIOS  51.189526  20.408892

   averaged_over_in_hours
0                    0.25
1                    0.25
2                     NaN
3                     NaN
4                     NaN